@{
	ViewData["Title"]="关于我们";
}
<div class="container">
	<br/><br/>
	<div class="row" id="aboutModelone"></div>
	<br/><br/>
	<div class="row">
			<div class="col-md-6 col-sm-12 col-lg-6 history-grid-left" id="aboutModeltwo"></div>
			<div class="col-md-6 col-sm-12 col-lg-6 history-grid-right" id="aboutModelthree"></div>
	</div>
	<br/>
	<br/>
</div>
<script>
			$.ajax({
				url:'showAboutModelOne',
				type:'POST',
				dataType:'Json',
				contentType:"application/json",
				success:function(data, textStatus){
					var articles=data.articles;
					var htm="";
					for(var i=0;i<articles.length;i++){
					    htm+="<div class='col-sm-6 col-md-3 col-lg-3'><div class='banner-bottom-grid1'><h1>"+articles[i].articleName+"</h1><p>"+articles[i].articleSideName+"</p><div class='more'><a href='Single?id="+articles[i].id+"' class='hvr-curl-bottom-right'>Read More...</a></div></div></div>";
					}
					$("#aboutModelone").append(htm);
				},
				error:function(res){
					console.log("请求失败！");
				}
			});
				$.ajax({
				url:'showAboutModelTwo',
				type:'POST',
				dataType:'Json',
				contentType:"application/json",
				success:function(data, textStatus){
					var articles=data.articles;
					var htm="<h3>"+articles[0].articleName+"</h3><p>"+articles[0].articleContext+"</p>"+
				            "<img src='"+articles[0].articleImgUrl.slice(22,)+"' alt='' class='img-responsive'/>";
					$("#aboutModeltwo").append(htm);
				},
				error:function(){
					console.log("请求失败！");
				}
			});
				$.ajax({
				url:'showAboutModelThree',
				type:'POST',
				dataType:'Json',
				contentType:"application/json",
				success:function(data, textStatus){
					var articles=data.articles;
				    var htm="<h3>Testimonials</h3><br/>";
					for(var i=0;i<articles.length;i++){
					    htm+="<div class='row'><div class='col-sm-4 col-md-4 col-lg-4'>"+
						     "<img src='"+articles[i].articleImgUrl.slice(22,)+"' alt='' class='img-responsive'/>"+
				             "</div><div class='col-sm-8 col-md-8 col-lg-8'><p>"+articles[i].articleContext+"</p></div></div><br/>";
					}
					$("#aboutModelthree").append(htm);
				},
				error:function(){
					console.log("请求失败！");
				}
			});
</script>