
<script src="~/js/jquery-1.11.1.min.js"></script>

<body>

<!-- banner-bottom -->
	<div class="banner-bottom">
			<div class="banner-bottom-grids banner-bottom-grids1">
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grid1">
						<h1>Sed ut perspiciatis unde quia</h1>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grid1">
						<h2>Excepteur sint occa ecat</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grid1">
						<h3>nisi ut aliquid ex ea consequatur</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 banner-bottom-grid">
					<div class="banner-bottom-grid1">
						<h3>eos et accusamus et iusto odio</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
<!-- //banner-bottom -->
<!-- history -->
	<div class="history">
			<div class="history-grids">
				<div class="col-md-6 history-grid-left">
					<h3>History</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus 
						tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
					<img src="~/images/6.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 history-grid-right">
					<h3>Testimonials</h3>
					<div class="history-grid-right-grids">
						<div class="about-bottom-grid-right-grid">
							<div class="about-bottom-grid-right-grdl">
								<img src="~/images/10.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="about-bottom-grid-right-grdr">
								<p><span>N</span>eque porro quisquam est, 
									qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
									sed quia non numquam eius modi.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="about-bottom-grid-right-grid">
							<div class="about-bottom-grid-right-grdl">
								<img src="~/images/11.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="about-bottom-grid-right-grdr">
								<p><span>R</span>eque porro quisquam est, 
									qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
									sed quia non numquam eius modi.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="about-bottom-grid-right-grid">
							<div class="about-bottom-grid-right-grdl">
								<img src="~/images/12.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="about-bottom-grid-right-grdr">
								<p><span>S</span>eque porro quisquam est, 
									qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
									sed quia non numquam eius modi.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
<!-- //history -->
</body>