@{
	ViewData["Title"]="关于我们";
}
<div class="container">
	<br/>
	<br/>
	<div class="row">
				<div class="col-md-3 col-sm-6 col-lg-3">
					<div class="banner-bottom-grid1">
						<h1>Sed ut perspiciatis unde quia</h1>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-lg-3">
					<div class="banner-bottom-grid1">
						<h2>Excepteur sint occa ecat</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-lg-3">
					<div class="banner-bottom-grid1">
						<h3>nisi ut aliquid ex ea consequatur</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-lg-3">
					<div class="banner-bottom-grid1">
						<h3>eos et accusamus et iusto odio</h3>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
							consectetur.</p>
						<div class="more">
							<a asp-controller="Home" asp-action="Single" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
	</div>
	<br/>
	<br/>
	<div class="row">
			<div class="col-md-6 col-sm-12 col-lg-6">
				<h3 style="font-size: 2em;color: #222C56;line-height: 1.5em;">History</h3>
				<p style="margin: .5em 0 0;color: #999;line-height: 1.8em;font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus 
					tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
				<img src="~/images/6.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-6 col-sm-12 col-lg-6">
				<h3 style="font-size: 2em;color: #222C56;line-height: 1.5em;">Testimonials</h3>

				<br/>
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4">
						<img src="~/images/10.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<p>eque porro quisquam est, 
							qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
							sed quia non numquam eius modi.</p>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4">
						<img src="~/images/11.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<p><span>R</span>eque porro quisquam est, 
							qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
							sed quia non numquam eius modi.</p>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4">
						<img src="~/images/12.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<p><span>S</span>eque porro quisquam est, 
							qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
							sed quia non numquam eius modi.</p>
					</div>
				</div>
			</div>
	</div>
	<br/>
	<br/>
</div>