@{
	ViewData["Title"]="联系";
}
<div class="container">
	<div class="row">
			<div class="col-md-4 col-sm-12 col-lg-4 contact-left">
				<h1>地址</h1>
				<p>中国 江苏省 常熟市
					<span>215500 Rescue,US</span></p>
				<ul>
					<li>固定电话 :0512-52567270</li>
					<li>手机 :18994407668</li>
					<li>手机 :15962317511</li>
					<li><a href="mailto:2386087177@qq.com">contact 2386087177@qq.com</a></li>
				</ul>
			</div>
			<div class="col-md-8 col-sm-12 col-lg-8 contact-left">
				<h2>联系方式</h2>
				<form asp-controller="Home" asp-action="Mail" method="POST">
					<input type="text" value="姓名" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}" required="">
					<input type="email" value="邮箱" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}" required="">
					<input type="text" value="电话" name="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '电话';}" required="">
					<textarea type="text"  name="Infos" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '您的信息。。。';}" required="">您的信息。。。</textarea>
					<input type="submit" value="提交" >
				</form>
			</div>
	</div>
	<br/>
	<div class="row">
		<iframe  class="col-sm-12 col-md-12 col-lg-12"  height="600" frameborder="0" scrolling="no"  src="http://api.map.baidu.com/geocoder?address=常熟市黄河路777号佳和广场二幢414&coord_type=gcj02&output=html&src=webapp.baidu.openAPIdemo"></iframe>
	</div>
	<br/>
</div>