@{
	ViewData["Title"]="联系";
}
<div class="container">
	<div class="row">
			<div class="col-md-4 col-sm-12 col-lg-4 contact-left">
				<h1>地址</h1>
				<p>中国 江苏省 常熟市
					<span>215500 Rescue,US</span></p>
				<ul>
					<li>固定电话 :0512-52567270</li>
					<li>手机 :18994407668</li>
					<li>手机 :15962317511</li>
					<li><a href="mailto:2386087177@qq.com">contact 2386087177@qq.com</a></li>
				</ul>
			</div>
			<div class="col-md-8 col-sm-12 col-lg-8 contact-left">
				<h2>联系方式</h2>
				<form  id="mails" >
					<input id="name" type="text"  name="Name"  placeholder="姓名" required>
					<input id="email" type="email"  name="Email"  placeholder="邮箱" required>
					<input id="phone" type="text"   name="Phone"  placeholder="电话" required>
					<textarea id="infos" type="text"  name="Infos"  placeholder="您的信息。。。" required></textarea>
					<input type="submit" value="提交" id="submit">
				</form>
			</div>
	</div>
	<br/>
	<div class="row">
		 <iframe  class="col-sm-12 col-md-12 col-lg-12"  height="600" frameborder="0" scrolling="no"  src="https://api.map.baidu.com/geocoder?address=常熟市黄河路777号佳和广场二幢414&coord_type=gcj02&output=html&src=webapp.baidu.openAPIdemo"></iframe> 
	</div>
	<br/>
</div>
<script type="text/javascript">
    var name=$("#name").value;
	var email=$("#email").value;
    var phone=$("#phone").value;
	var infos=$("#infos").value;
	$("#submit").click(function(){
		if(name!=null&&email!=null&&phone!=null&&infos!=null){
			$.ajax({
				type:'POST',
				url:'/Home/Mail',
				contentType: "application/json",  
				data:$("#mails").serialize(),
				dataType: "json", //json类型
				success:function(res){
					//var result = JSON.stringify(res); 
					alert("提交成功");
				},
				error:function(res){
					alert("提交失败!请耐心重新填写");
				}
			});
		}
	});
</script>