@{
	ViewData["Title"]="联系";
}
<div class="container">
	<div class="row">
			<div class="col-md-4 col-sm-12 col-lg-4 contact-left">
				<h1>地址</h1>
				<p>中国 江苏省 常熟市
					<span>215500 Rescue,US</span></p>
				<ul>
					<li>固定电话 :0512-52567270</li>
					<li>手机 :18994407668</li>
					<li>手机 :15962317511</li>
					<li><a href="mailto:2386087177@qq.com">contact 2386087177@qq.com</a></li>
				</ul>
			</div>
			<div class="col-md-8 col-sm-12 col-lg-8 contact-left">
				<h2>联系方式</h2>
				<form id="myForm" method="POST" action="">
					<input id="name" type="text"  name="Name"  placeholder="姓名" required>
					<input id="email" type="email"  name="Email"  placeholder="邮箱" required>
					<input id="phone" type="text"   name="Phone"  placeholder="电话" required>
					<textarea id="infos" type="text"  name="Infos"  placeholder="您的信息。。。" required></textarea>
					<input type="submit" class="btn btn-primary" value="提交" name="提交"></Button>
				</form>
			</div>
	</div>
	<br/>
	<div class="row">
         <div id="map" class="col-md-12 col-sm-12 col-lg-12" style="height:600px;"></div>
	</div>
	<br/>
</div>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=LEC1NI7PdI4wk7bHSVvnZ2y8qSdzuhGC&s=1"></script>
<script type="text/javascript">
var sContent =
	"<h4>苏州瑞兰雅</h4>" + 
	"<img style='float:right;margin:4px' id='imgDemo' src='../contents/logo.jpg' width='139' height='104' title='天安门'/>" + 
	"<p>地址：常熟市黄河路777号佳和广场二幢414</p>" + 
	"</div>";
	var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
    var map=new BMap.Map("map");
	map.enableScrollWheelZoom(true);
    map.addControl(new BMap.NavigationControl());
	var myGeo = new BMap.Geocoder();      
	// 将地址解析结果显示在地图上，并调整地图视野    
	myGeo.getPoint("常熟市黄河路777号佳和广场二幢414", function(point){      
		if (point) {      
			map.centerAndZoom(point, 16);      
			var marker=new BMap.Marker(point);
			map.addOverlay(marker);
		marker.addEventListener("click", function(){          
			this.openInfoWindow(infoWindow);
			//图片加载完毕重绘infowindow
			document.getElementById('imgDemo').onload = function (){
				infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
			}
		});

		}      
	}, 
	"苏州市");
     var form=document.getElementById("myForm");
	 var formData=new FormData(form);
	 formData.get("Name");
	 formData.get("Phone");
	 formData.get("Email");
	 formData.get("Infos");
	 $(".btn btn-primary").click(function(){
				$.ajax({
					url:'/Home/Mail',
					type:'POST',
					data:formData,
					contentType:false,
					processData:false,
				});
			});

    
</script>