
<script src="~/js/jquery-1.11.1.min.js"></script>

<body>
<!-- support -->
	<div class="support">
			<h3>Support Us</h3>
			<div class="support-form">
				<form>
					<input type="text" value="Search support..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search support...';}" required="">
					<input type="submit" value="Submit">
				</form>
			</div>
			<div class="support-grids">
				<div class="col-md-8 support-grid-left">
					<div class="support-grid-left-grids">
						<div class="col-md-4 support-grid-left1">
							<div class="banner-bottom-grid1 support-grid-left1-grid">
								<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
								<h4>Get Started</h4>
								<ul>
									<li>Patients</li>
									<li>Sports Persons</li>
									<li>Doctors</li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 support-grid-left1">
							<div class="banner-bottom-grid1 support-grid-left1-grid">
								<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
								<h4>Documentation</h4>
								<ul>
									<li>Equipments</li>
									<li>Hospitals</li>
									<li>Certificates</li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 support-grid-left1">
							<div class="banner-bottom-grid1 support-grid-left1-grid">
								<span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
								<h4>Training</h4>
								<ul>
									<li>Classes</li>
									<li>Videos</li>
									<li>Practices</li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="support-grid-left-grids">
						<div class="col-md-4 support-grid-left1">
							<div class="banner-bottom-grid1 support-grid-left1-grid">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
								<h4>Answers</h4>
								<ul>
									<li>Communicate with Patients</li>
									<li>Developer Zone</li>
									<li>Knowledge Based</li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 support-grid-left1">
							<div class="banner-bottom-grid1 support-grid-left1-grid">
								<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
								<h4>Resources</h4>
								<ul>
									<li>Supported Platforms</li>
									<li>On Demand Status</li>
									<li>Guidance</li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 support-grid-left1">
							<div class="banner-bottom-grid1 support-grid-left1-grid">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								<h4>Support Us</h4>
								<ul>
									<li>Classes</li>
									<li>Videos</li>
									<li>Practices</li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 support-grid-right">
					<div class="banner-bottom-grid1 support-grid-right1 support-grid-left1-grid">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						<h4>Case Portal</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse 
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
							cupidatat non proident.</p>
						<div class="more">
							<a href="single.html" class="hvr-curl-bottom-right">Read More...</a>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
<!-- //support -->
</body>