@{
  Layout="/Views/ManageContent/_Layout.cshtml";
  ViewData["Title"]="添加内容";
}
    <div class="container">
        <form asp-action="AddArticles" asp-controller="ManageContent" method="POST" enctype="multipart/form-data">
             <div class="row">
                <label class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">文章标题：</label>
                <input type="text" name="ArticleName" class="col-sm-4 col-md-4 col-lg-4">
             </div>
            <div class="row">
                <label class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">文章副标题：</label>
                <input type="text" name="ArticleSideName" class="col-sm-4 col-md-4 col-lg-4">
             </div>
             <div class="row">
                <label class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">文章内容：</label>
                <textarea type="text" name="ArticleContext" rows="6" class="col-sm-4 col-md-4 col-lg-4"></textarea>
             </div>
             <div class="row">
                <label class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">文章图片上传：</label>
                <input type="file" name="ArticleImgUrl" class="col-sm-4 col-md-4 col-lg-4">
             </div>
             <div class="row">
                <label class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">区域：</label>
                <select class="selectpicker" data-live-search="true"  name="Areas" multiple>
                     <optgroup label="首页">
                              <option value="1">模块一</option>
                              <option value="2">模块二</option>
                              <option value="3">模块三</option>
                        </optgroup>   
                        <optgroup label="关于我们">
                                 <option value="4">模块一</option>
                                 <option value="5">模块二</option>
                                 <option value="6">模块三</option>
                        </optgroup>                          
               </select>
             </div>
             <div class="row">
               <div class="col-sm-2 col-md-2 col-lg-2"></div>
               <input type="submit" name="提交" value="提交" class="btn btn-primary col-sm-6 col-md-6 col-lg-6"/>
               <div class="col-sm-4 col-md-4 col-lg-4"></div>
             </div>
        </form>
    </div>